<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 dropdown-toggle" href="#" id="all-products-link" data-bs-toggle="dropdown" aria-expanded="false">
                All Products
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <li><a href="" class="dropdown-item">By Price</a></li>
                <li><a href="" class="dropdown-item">By Rating</a></li>
                <li><a href="" class="dropdown-item">By Category</a></li>
                <li><a href="{% url 'products' %}" class="dropdown-item">All Products</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 dropdown-toggle" href="#" id="clothing-link" data-bs-toggle="dropdown" aria-expanded="false">
                Clothing
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <li><a href="{% url 'products' %}?category=t-shirts" class="dropdown-item">T-Shirts</a></li>
                <li><a href="{% url 'products' %}?category=joggers" class="dropdown-item">Joggers</a></li>
                <li><a href="{% url 'products' %}?category=shorts" class="dropdown-item">Shorts</a></li>
                <li><a href="{% url 'products' %}?category=hoodies" class="dropdown-item">Hoodies</a></li>
                <li><a href="{% url 'products' %}?category=vests" class="dropdown-item">Vests</a></li>
                <li><a href="{% url 'products' %}?category=t-shirts,joggers,shorts,hoodies,vests" class="dropdown-item">All Clothing</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black mr-5 dropdown-toggle" href="#" id="specials-link" data-bs-toggle="dropdown" aria-expanded="false">
                Special Offers
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="specials-link">
                <li><a href="" class="dropdown-item">New Arrivals</a></li>
                <li><a href="" class="dropdown-item">Deals</a></li>
                <li><a href="" class="dropdown-item">Clearance</a></li>
                <li><a href="" class="dropdown-item">All Specials</a></li>
            </ul>
        </li>
    </ul>
</div>