{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="logo-font mb-4 review-title text-black">Leave a Review for {{ product.name }}</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group review-form text-black">
                        {{ form.rating.label_tag }}
                        {{ form.rating }}
                        {{ form.rating.errors }}
                    </div>
                    <div class="form-group review-form text-black">
                        {{ form.comment.label_tag }}
                        {{ form.comment }}
                        {{ form.comment.errors }}
                    </div>
                    <button type="submit" class="btn btn-black">Submit</button>
                </form>
            </div>            
        </div>
{% endblock %}