{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6">
                <h2 class="logo-font mb-4 review-title text-black">Delete your review</h2>
                <p>Are you sure you want to delete your review?</p>
                <form method="post">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                    <a href="{% url 'product_detail' review.product.id %}">Cancel</a>
                </form>
            </div>            
        </div>
{% endblock %}